.content {
    display: flex;
    justify-content: center;
}

.calculator {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-rows: 20% 80%;
    border: solid 1px black;
}

.content-calculator {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%; 
}

